<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} Got!
  </h1>
</div>
<div>
  <form #form="ngForm" (ngSubmit)="logForm(form.value)">
    <label>Firstname:</label>
    <input type="text" name="firstname" ngModel>

    <label>Lastname:</label>
    <input type="text" name="lastname" ngModel>

    <label>Street:</label>
    <input type="text" name="street" ngModel>

    <label>Zip:</label>
    <input type="text" name="zip" ngModel>

    <label>City:</label>
    <input type="text" name="city" ngModel>

    <button type="submit">Submit</button>
  </form>
</div>
<div>
  <button (click)='getUsers()'>Fetch Users</button>
</div>
<div>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Street</th>
      <th>Zip</th>
      <th>City</th>
      <th>Action</th>
    </tr>
    <tr *ngFor = "let user of users">
      <td>{{ user.firstname}}</td>
      <td>{{ user.lastname}}</td>
      <td>{{ user.street}}</td>
      <td>{{ user.zip}}</td>
      <td>{{ user.city}}</td>
      <td><img (click)="delete(user._id)" width="40" height="40" src="../../assets/images/delete.png" alt=""></td>
    </tr>
  </table>
  
</div>